node_modules
migrations
package-lock.json
node_modules/*
.env
.env.*
public/parent_code_images/*
!public/parent_code_images/.gitkeep
public/fst_inner_code_images/*
!public/fst_inner_code_images/.gitkeep
public/snd_inner_code_images/*
!public/snd_inner_code_images/.gitkeep
.scannerwork

node_modules
migrations
package-lock.json
node_modules/*
.scannerwork
sonar-project.properties
logs/info/*
!logs/info/.gitkeep
logs/errors/*
!logs/errors/.gitkeep
uploads/product/*
uploads/product_label/*
uploads/product_leaflet/*
uploads/shipper_code/*
uploads/rewards/*
uploads/product_images/*
uploads/luckydraws/*
csv/*
