<html>

<head>
    <style>
        .center {
            display: block;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-30%, -30%);
            transform: translate(-50%, -130%);
            color: #655ba3;
        }
    </style>
</head>

<body>
    <img src="../../public/images/tt.png" alt="Paris" class="center">
    <h1 class="center" style="margin-top: 20px;">Email verification is failed!</h1>
    <h3 style="color: red; margin-top: 60px " class="center"><i>This is an old verification link. A new Email
            Verification link has been requested for your account.</i></h3>

    <h3 style="color: red; margin-top: 80px;" class="center"><i>
            Kindly Check your inbox.</i></h3>
</body>

</html>