<html>

<head>
    <style>
        .center {
            display: block;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-30%, -30%);
            transform: translate(-50%, -130%);
            color: #655ba3;
        }
    </style>
</head>

<body>
    <img src="../../public/images/tt.png" alt="Paris" class="center">
    <h1 class="center" style="margin-top: 20px;">Email verification is Completed!</h1>
</body>

</html>